.about_heading{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.head{
    color: #878787;
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-size: 38.047px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.head_span{
    background: -webkit-linear-gradient(360deg, #aed92d 6.58%, #ff9142 70.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about_info{
    p{
        text-align: center;
        font-family: Poppins;
        font-size: 24.857px;
        font-style: normal;
        font-weight: 300;
        line-height: 115.523%; /* 28.716px */
        letter-spacing: 0.621px;
        color: #C5C5C5;
    }
}

.projects{
    margin-top: 75px;
    //  background-color: yellow; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-content: center;
    justify-items: center;
    gap: 50.83px;
    width: 100%;
}

.travel_planner{
    div{
        margin-top: 40.4px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.view{
    display: flex;
    flex-wrap: wrap;
    gap: 2.8px;
    background-color: transparent;
    color: #A9A9A9;
    border: none;
    border: 2px solid rgba(72, 78, 83, 1);
    border-radius: 47.6px;
    padding: 4.67px 0px 4.67px 8.5px;
    font-family: "Urbanist", sans-serif;
    font-size: 13.063px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.023%; /* 20.121px */
    letter-spacing: 0.327px; 
    cursor: pointer;   
    transition: 0.3s;
}

.view:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid black;
}

.btn{
    color: #A9A9A9;
    text-align: center;
    font-family: "Urbanist", sans-serif;
    font-size: 13.063px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.023%; /* 20.121px */
    letter-spacing: 0.327px;
    background-color: transparent;
    border: none;
    border: 2px solid rgba(72, 78, 83, 1);
    border-radius: 47.6px;
    padding: 4.67px 10.26px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    border: none;
}

.about_last{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    button{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 23px;
        padding: 18px 24px;
        color: #FFF;
        font-family: "Urbanist", sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: transparent;
        border: none;
        border: 2px solid #FFF;
        border-radius: 60px;
        transition: 0.3s;
    }

    button:hover{
        background-color: #fff;
        color: #000;
        border: none;
        box-shadow: #fff 0 0 15px 0px;
    }

}

.thefront{
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.card:hover{

    .thefront{
        transform: rotateX(360deg);
    }
}

.theback{
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}